<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI5wvq1HvNnn6rP3fBVaG6kC-oI5xgppI</string>
	<key>GCM_SENDER_ID</key>
	<string>216061321779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meet</string>
	<key>PROJECT_ID</key>
	<string>ims-app-9af1b</string>
	<key>STORAGE_BUCKET</key>
	<string>ims-app-9af1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216061321779:ios:6ca905b7fc85ab73403946</string>
</dict>
</plist>